.gi-host .gi-robotList {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 14px; }

.gi-host .gi-robotList .listBox .card .more .item {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 12px; }

.gi-host .gi-robotList .searchBar .searchBox .searchBtn, .gi-host .gi-robotList .listBox .addBtn .icon-add, .gi-host .gi-robotList .listBox .card .refresh,
.gi-host .gi-robotList .listBox .card .more {
  background: url(/images/icon/icon-gi.png) no-repeat;
  background-size: 635px 521px; }

.gi-host .gi-robotList {
  min-height: 100%;
  min-width: 1120px;
  padding: 24px;
  background: #f0f1f3;
  color: #344658; }
  .gi-host .gi-robotList .pageSize {
    width: 1070px; }
  .gi-host .gi-robotList .searchBar {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .gi-host .gi-robotList .searchBar .statusBox {
    flex: 0 none;
    display: flex;
    width: 260px;
    justify-content: space-between; }
  .gi-host .gi-robotList .searchBar .statusBox .status {
    width: 50px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 2px;
    cursor: pointer; }
  .gi-host .gi-robotList .searchBar .statusBox .checked {
    background: #6AD298;
    color: #FFFFFF; }
  .gi-host .gi-robotList .searchBar .searchBox {
    position: relative; }
  .gi-host .gi-robotList .searchBar input {
    box-sizing: border-box;
    padding: 8px 8px 8px 34px;
    width: 290px;
    height: 34px;
    border: 1px solid transparent;
    background: #FFFFFF;
    border-radius: 4px;
    color: #344658; }
    .gi-host .gi-robotList .searchBar input:hover {
      border: 1px solid #58a7f8; }
    .gi-host .gi-robotList .searchBar input:focus {
      border: 1px solid #58a7f8; }
  .gi-host .gi-robotList .searchBar .searchBox .searchBtn {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 12px;
    top: 6px;
    cursor: pointer;
    background-position: -189px -277px; }
  .gi-host .gi-robotList .listBox .cardItem:hover {
    box-shadow: 0 4px 10px 0 #D7DADD; }
  .gi-host .gi-robotList .listBox .addBtn {
    width: 340px;
    height: 200px;
    background: #FFFFFF;
    border: 1px solid #E9EBEE;
    box-shadow: 0 2px 4px 0 #E9EBEE;
    border-radius: 4px;
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #B5BDC6;
    cursor: pointer;
    margin: 0 24px 24px 0; }
    .gi-host .gi-robotList .listBox .addBtn:hover {
      color: #58A7F8; }
      .gi-host .gi-robotList .listBox .addBtn:hover .icon-add {
        background-position: -164px -262px; }
  .gi-host .gi-robotList .listBox .addBtn .icon-add {
    display: inline-block;
    width: 24px;
    height: 24px;
    background-position: -5px -67px;
    margin-right: 10px; }
  .gi-host .gi-robotList .listBox .addBtn:hover .icon-add {
    background-position: -29px -67px; }
  .gi-host .gi-robotList .listBox .cardItem:nth-child(3n) {
    margin-right: 0; }
  .gi-host .gi-robotList .listBox .card {
    width: 340px;
    height: 200px;
    background: #FFFFFF;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 #E9EBEE;
    float: left;
    margin: 0 24px 24px 0;
    position: relative; }
  .gi-host .gi-robotList .listBox .card .detailBox {
    height: 160px;
    padding: 0 22px;
    background: #FFFFFF;
    border-radius: 4px 4px 0 0; }
  .gi-host .gi-robotList .listBox .card .footer {
    height: 40px;
    border-top: 1px solid #E9EBEE;
    background: #F8F8F9;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0 0 4px 4px; }
  .gi-host .gi-robotList .listBox .card .left span {
    color: #B5BDC6;
    width: 110px;
    height: 22px;
    display: inline-block;
    text-align: center;
    cursor: pointer; }
    .gi-host .gi-robotList .listBox .card .left span:hover {
      color: #58A7F8; }
  .gi-host .gi-robotList .listBox .card .left span:nth-child(2) {
    border-left: 1px solid #E9EBEE; }
  .gi-host .gi-robotList .listBox .card .operateArea {
    margin-right: 24px; }
  .gi-host .gi-robotList .listBox .card .hoverBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background: #485767;
    box-shadow: 0 1px 4px 0 rgba(36, 36, 36, 0.15);
    border-radius: 4px;
    padding: 6px 10px;
    font-weight: 400;
    color: #FFFFFF;
    box-sizing: border-box;
    display: none;
    z-index: 2; }
  .gi-host .gi-robotList .listBox .card .hoverBox::after {
    content: '';
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 2px;
    box-shadow: 0 1px 4px 0 rgba(36, 36, 36, 0.15);
    background: #485767;
    position: absolute;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    top: -2px; }
  .gi-host .gi-robotList .listBox .card .refresh:hover .hoverBox,
  .gi-host .gi-robotList .listBox .card .more:hover .hoverBox {
    display: block; }
  .gi-host .gi-robotList .listBox .card .refresh,
  .gi-host .gi-robotList .listBox .card .more {
    float: right;
    width: 20px;
    height: 20px;
    background-position: -149px -277px;
    cursor: pointer;
    margin-left: 10px;
    position: relative; }
  .gi-host .gi-robotList .listBox .card .refresh:hover {
    background-position: -149px -297px; }
  .gi-host .gi-robotList .listBox .card .refresh .hoverBox {
    width: 50px;
    top: 20px; }
  .gi-host .gi-robotList .listBox .card .more {
    background-position: -169px -277px; }
  .gi-host .gi-robotList .listBox .card .more:hover {
    background-position: -169px -297px; }
  .gi-host .gi-robotList .listBox .card .more .hoverBox {
    width: 80px;
    top: 20px; }
  .gi-host .gi-robotList .listBox .card .more .item {
    width: 80px;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(36, 36, 36, 0.24);
    border-radius: 4px;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    top: 20px;
    color: #485767;
    display: none;
    z-index: 2; }
  .gi-host .gi-robotList .listBox .card .more .item div {
    height: 26px;
    line-height: 26px;
    position: relative;
    z-index: 3; }
  .gi-host .gi-robotList .listBox .card .more .item div:hover {
    background: #F8F8F9;
    color: #58A7F8; }
  .gi-host .gi-robotList .listBox .card .more .item .cancel:hover {
    color: #F75A5A; }
  .gi-host .gi-robotList .listBox .card .more .item::after {
    content: '';
    display: block;
    background: #FFFFFF;
    width: 10px;
    height: 10px;
    box-shadow: 0 1px 4px 0 rgba(36, 36, 36, 0.24);
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: -6px;
    transform: translateX(-50%) rotate(45deg); }
  .gi-host .gi-robotList .listBox .card .more .item::before {
    content: '';
    display: block;
    background: #FFFFFF;
    height: 10px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2; }
  .gi-host .gi-robotList .listBox .card .avatar {
    height: 60px;
    border-bottom: 1px dashed #E9EBEE;
    display: flex;
    align-items: center; }
  .gi-host .gi-robotList .listBox .card .avatar img {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    display: block;
    margin-right: 11px; }
  .gi-host .gi-robotList .listBox .card .statusText {
    text-align: center;
    font-size: 12px;
    color: #6AD298;
    cursor: pointer;
    width: 38px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid rgba(106, 210, 152, 0.5);
    position: relative; }
  .gi-host .gi-robotList .listBox .card .statusText.offline,
  .gi-host .gi-robotList .listBox .card .statusText.error {
    color: #FF99A5;
    border: 1px solid rgba(255, 153, 165, 0.5); }
  .gi-host .gi-robotList .listBox .card .statusText:hover .hoverBox {
    display: block;
    text-align: left; }
  .gi-host .gi-robotList .listBox .card .statusText .hoverBox {
    left: 130%;
    width: 138px;
    text-align: left; }
  .gi-host .gi-robotList .listBox .card .statusText .hoverBox::after {
    left: 30%; }
  .gi-host .gi-robotList .listBox .card .statusBox {
    height: 98px;
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #160000; }
  .gi-host .gi-robotList .listBox .card .statusBox .loginBtn {
    float: right;
    font-size: 12px;
    color: #5D90C5;
    text-decoration: underline;
    cursor: pointer; }
  .gi-host .gi-robotList .listBox .card .groupCount span:first-child,
  .gi-host .gi-robotList .listBox .card .groupCount.error span,
  .gi-host .gi-robotList .listBox .card .groupCount.offline span {
    color: #B5BDC6;
    font-weight: 400; }
  .gi-host .gi-robotList .listBox .card .groupCount.fail span {
    color: #FF99A5; }
  .gi-host .gi-robotList .listBox .card .refreshBox {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); }
  .gi-host .gi-robotList .listBox .card .refreshBox .refreshBox-img {
    display: block;
    margin: 90px auto 0; }
  .gi-host .gi-robotList .pageFooter {
    display: flex;
    justify-content: center;
    margin-top: 50px; }
