.SearchInput {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 14px; }

.SearchInput .SearchInput-input .SearchInput-icon {
  background: url(/images/icon/icon-cw.png) no-repeat;
  background-size: 133px 147px; }

.SearchInput .SearchInput-input .SearchInput-icon-delete {
  background: url(/images/icon/icon-mt1.png) no-repeat;
  background-size: 536px 177px; }

.SearchInput {
  display: flex;
  align-items: center;
  color: #344658; }
  .SearchInput .SearchInput-label {
    width: 114px;
    text-align: right;
    margin-right: 4px; }
  .SearchInput .SearchInput-input {
    width: 324px;
    height: 36px;
    line-height: 34px;
    position: relative;
    border: 1px solid #E9EBEE;
    background: #fff;
    border-radius: 4px;
    cursor: pointer; }
    .SearchInput .SearchInput-input:hover {
      border: 1px solid #58a7f8; }
    .SearchInput .SearchInput-input .SearchInput-icon {
      position: absolute;
      top: 50%;
      right: 7px;
      margin-top: -10px;
      width: 20px;
      height: 20px;
      background-position: -2px -4px;
      float: right; }
    .SearchInput .SearchInput-input .SearchInput-icon-select {
      transition: all ease-in-out .15s;
      transform: rotate(180deg); }
    .SearchInput .SearchInput-input .SearchInput-icon-delete {
      background-position: -420px -117px; }
  .SearchInput .SearchInput-placeholder {
    color: #B5BDC6;
    height: 34px;
    position: absolute;
    left: 16px;
    top: 0;
    user-select: none; }
  .SearchInput .SearchInput-value,
  .SearchInput .SearchInput-input-area {
    height: 34px;
    position: absolute;
    left: 16px;
    top: 0; }
  .SearchInput .SearchInput-input-area input {
    display: block;
    height: 34px;
    width: 280px; }
  .SearchInput .SearchInput-input-area input:focus {
    border: 1px solid transparent; }
  .SearchInput .SearchInput-options {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    z-index: 200;
    background: #FFFFFF;
    box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    max-height: 200px;
    overflow: auto;
    padding: 4px 0; }
  .SearchInput .SearchInput-option {
    padding-left: 16px;
    height: 32px;
    line-height: 32px;
    cursor: pointer;
    white-space: nowrap;
    min-width: 100%;
    width: fit-content; }
    .SearchInput .SearchInput-option:hover {
      background: #ECF6FF; }
    .SearchInput .SearchInput-option.SearchInput-option-select {
      background: #fafafa; }
