@import 'styles/public.scss';

@media screen and (min-width: 1551px) {
  .Step2 {
    width: 1428px;
  }
}

@media screen and (max-width: 1550px) {
  .Step2 {
    width: 1168px;
  }
}

.Step2 {
  padding: 24px;
  .Step2-title {
    font-size: 24px;
    color: #485767;
    font-weight: 400;
    margin-bottom: 24px;
  }
  .Step2-content {
    overflow: hidden;
    min-height: 490px;
    .add-new-matter {
      float: left;
      width: 256px;
      height: 142px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 14px;
      color: #B5BDC6;
      font-weight: 400;
      background: #FFFFFF;
      border: 1px dashed #E9EBEE;
      box-shadow: 0 2px 4px 0 #E9EBEE;
      border-radius: 4px;
      margin: 0 24px 24px 0;
      cursor: pointer;
      &:hover {
        box-shadow: 0 4px 10px 0 #D7DADD;
        color: #58A7F8;
        .add-new-matter-icon {
          background-position: -2px -48px;
        }
      }
      .add-new-matter-icon {
        @extend %iconCw;
        background-position: -2px -24px;
        height: 24px;
        width: 24px;
        margin-right: 10px;
      }
    }
  }
  .Step2-footer {
    display: flex;
    justify-content: flex-end;
    padding-right: 24px;
  }
}
