.gi-accurate-step2, .gi-accurate-step2 .inner .stepTitle {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 14px; }

.gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable .icon {
  background: url(/images/icon/icon-home.png) no-repeat;
  background-size: 500px 363px; }

.gi-accurate-step2 .statusCheck .icon-check, .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box .upload-box .icon {
  background: url(/images/icon/icon-gi.png) no-repeat;
  background-size: 635px 420px; }

.gi-accurate-step2 {
  padding: 24px;
  height: 100%;
  overflow: auto;
  background: #f0f1f3;
  color: #344658; }
  .gi-accurate-step2 .statusCheck {
    margin-left: 20px;
    display: flex;
    align-items: center; }
    .gi-accurate-step2 .statusCheck .icon-check {
      width: 20px;
      height: 20px;
      background-position: -139px -19px;
      cursor: pointer;
      display: inline-block;
      margin-right: 5px; }
    .gi-accurate-step2 .statusCheck .icon-check:hover {
      background-position: -159px -19px; }
    .gi-accurate-step2 .statusCheck .icon-check.checked {
      background-position: -179px -19px; }
  .gi-accurate-step2 .inner {
    min-width: 1096px;
    min-height: 100%;
    background: #fff;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding-bottom: 20px; }
    .gi-accurate-step2 .inner .stepTitle {
      color: #344658;
      padding-top: 8px;
      background: #f0f1f3;
      width: 100%;
      height: 57px; }
      .gi-accurate-step2 .inner .stepTitle .todo {
        color: #B5BDC6; }
  .gi-accurate-step2 .gi-accurate-step2-right {
    margin-top: 40px; }
    .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row {
      display: flex;
      margin-bottom: 14px; }
      .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row.btnBox {
        justify-content: flex-end; }
      .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable {
        width: 114px;
        text-align: right;
        font-size: 14px;
        color: #344658;
        font-weight: 400;
        margin-right: 4px; }
        .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable .titleBox {
          display: flex;
          align-items: center;
          justify-content: flex-end; }
        .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable .icon {
          width: 18px;
          height: 18px;
          margin-right: 6px;
          position: relative;
          background-position: -363px -80px; }
          .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable .icon:hover {
            background-position: -383px -80px; }
            .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable .icon:hover .bubble {
              opacity: 1;
              top: -86px;
              animation: sheng .15s;
              visibility: visible; }
        .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable .bubble {
          width: 214px;
          height: 75px;
          position: absolute;
          left: -30px;
          top: -55px;
          font-size: 12px;
          color: #fff;
          background: #485767;
          border-radius: 5px;
          text-indent: 0;
          padding: 10px 8px;
          opacity: 0;
          visibility: hidden;
          text-align: left; }
          .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable .bubble::after {
            content: '';
            display: block;
            position: absolute;
            left: 31px;
            bottom: -14px;
            width: 10px;
            height: 10px;
            border: 8px solid #485767;
            border-color: #485767 transparent transparent transparent; }
        .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-lable.translateY {
          transform: translateY(8px); }
      .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-Space {
        width: 26px; }
      .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box {
        display: flex;
        align-items: flex-end; }
        .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box .upload-box {
          background: #FFFFFF;
          border: 1px solid #E9EBEE;
          border-radius: 4px;
          width: 135px;
          height: 36px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 14px;
          color: #58A7F8;
          position: relative; }
          .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box .upload-box.active {
            border-color: #58A7F8;
            color: #58A7F8; }
          .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box .upload-box .fileIpt {
            width: 100%;
            height: 100%;
            opacity: 0;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4px;
            cursor: pointer; }
          .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box .upload-box .icon {
            background-position: -235px -63px;
            width: 20px;
            height: 20px;
            margin-right: 4px; }
          .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box .upload-box:hover {
            border-color: #58A7F8;
            color: #5D90C5; }
            .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box .upload-box:hover .icon {
              background-position: -215px -63px; }
        .gi-accurate-step2 .gi-accurate-step2-right .gi-accurate-step2-right-row .gi-accurate-step2-right-row-upload-box .upload-txt {
          font-size: 12px;
          color: #B5BDC6;
          margin-left: 9px; }
