@import 'styles/public.scss';

@media screen and (min-width: 1441px) and (max-width: 1919px) {
    .MtEdit{
        width: 890px;
    }
}

@media screen and (max-width: 1440px) {
    .MtEdit{
        width: 706px
    }
}
.MtEdit {
    padding-right: 36px;
    box-sizing: border-box;
    .MtEdit-header {
        display: flex;
        width: 690px;
        //justify-content: space-between;
        margin-bottom: 28px;
        &>div:nth-of-type(1){
          margin-right: 46px;
        }
    }
    .MtEdit-nav {
        height: 60px;
        width:682px;
        .MtEdit-nav-add {
            width: 119px;
            box-sizing: border-box;
            height: 60px;
            border: 1px solid #e9ebee;
            border-bottom: none;
            border-radius: 4px 4px 0 0;
            background: #fff;
            cursor: pointer;
            z-index: 99;
            transform: translateY(1px);
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            .MtEdit-nav-add-img {
                width: 38px;
                height: 38px;
                @extend %iconMt1;
                background-position: -83px -92px;
                position: relative;
                z-index: 2;
                &:hover + .public-tipBubble{
                    opacity: 1;
                    transform: scale(1);
                }
            }
        }
        .MtEdit-nav-content {
            display: flex;
            height: 60px;
            .MtEdit-nav-content-item {
                width: 120px;
                display: flex;
                color: #B5BDC6;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                background: #fff;
                position: relative;
                .close-icon {
                    position: absolute;
                    width: 18px;
                    height: 18px;
                    top: 4px;
                    right: 4px;
                    @extend %iconMt1;
                }
                .MtEdit-nav-content-item-icon {
                    width: 38px;
                    height: 38px;
                    @extend %iconMt1;
                    background-position: -121px -92px;
                    &.active,
                    &:hover {
                        background-position: -83px -92px;
                    }
                }
                &.active {
                    border: 1px solid #e9ebee;
                    border-bottom: none;
                    border-radius: 4px 4px 0 0;
                    z-index: 99;
                    transform: translateY(1px);
                }
                &.active {
                    color: #485767;
                }
                &:hover {
                    color: #485767;
                    .close-icon {
                        background-position: -421px -118px;
                    }
                    .close-icon:hover{
                        background-position: -439px -118px;
                    }
                }
                .imgs {
                    width: 38px;
                    height: 38px;
                    margin-right: 10px;
                    @extend %iconMt1;
                }
                &.TEXT {
                    .imgs {
                        background-position: -16px -45px;
                    }
                    &.active,
                    &:hover {
                        .imgs {
                            background-position: -216px -45px;
                        }
                    }
                }
                &.IMG {
                    .imgs {
                        background-position: -56px -45px;
                    }
                    &.active,
                    &:hover {
                        .imgs {
                            background-position: -256px -45px;
                        }
                    }
                }
                &.LINK {
                    .imgs {
                        background-position: -96px -45px;
                    }
                    &.active,
                    &:hover {
                        .imgs {
                            background-position: -296px -45px;
                        }
                    }
                }
                &.SLINK {
                    width: 150px;
                    .imgs {
                        background-position: -136px -45px;
                    }
                    &.active,
                    &:hover {
                        .imgs {
                            background-position: -336px -45px;
                        }
                    }
                }
                &.WEXX {
                    width: 133px;
                    .imgs {
                        background-position: -177px -45px;
                    }
                    &.active,
                    &:hover {
                        .imgs {
                            background-position: -377px -45px;
                        }
                    }
                }
                &.PUBLIC {
                    width: 133px;
                    .imgs {
                        background-position: -294px -1px;
                    }
                    &.active,
                    &:hover {
                        .imgs {
                            background-position: -218px -1px;
                        }
                    }
                }
                &.VOICE {
                    width: 133px;
                    .imgs {
                        background-position: -256px -1px;
                    }
                    &.active,
                    &:hover {
                        .imgs {
                            background-position: -180px -1px;
                        }
                    }
                }
            }
        }
    }
    .MtStyleSelectBox {
        z-index: 9;
        position: absolute;
        top: 65px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        background: #FFFFFF;
        box-shadow: 0 0 2px 0 #E9EBEE, 0 2px 8px 0 #E9EBEE;
        border-radius: 4px;
        align-items: center;
        .MtStyleSelectBox-trg {
            width: 16px;
            height: 16px;
            border-left: 1px solid #e8ebee;
            border-top: 1px solid #e8ebee;
            transform: rotate(45deg) translateX(-50%);
            position: absolute;
            background: #fff;
            top: -4px;
            left: 50%;
        }
        .MtStyleSelectBox-item {
            padding: 22px 20px;
            width: 110px;
            display: flex;
            box-sizing: border-box;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            font-size: 14px;
            color: #B5BDC6;
            font-weight: 400;
            &:hover {
                color: #485767;
                .mt-icon::before {
                    transform: scale(1);
                    animation: zhang .15s;
                }
                .mt-icon {
                    background: none;
                }
            }
            .mt-icon {
                margin-bottom: 10px;
                height: 38px;
                border-radius: 50%;
                background-color: #DADEE2;
                &::before {
                    background: #58A7F8;
                }
            }
            .img {
                width: 38px;
                height: 38px;
                display: inline-block;
                @extend %iconMt1;
                position: relative;
            }
            &.TEXT {
                .img {
                    background-position: -16px -136px;
                }
            }
            &.IMG {
                .img {
                    background-position: -56px -136px;
                }
            }
            &.LINK {
                .img {
                    background-position: -96px -136px;
                }
            }
            &.SLINK {
                .img {
                    background-position: -136px -136px;
                }
            }
            &.WEXX {
                .img {
                    background-position: -177px -136px;
                }
            }
            &.material {
                .img {
                    background-position: -142px -1px;
                    margin-bottom: 10px;
                }
            }
        }
    }
    .MtEdit-edit {
        width: 100%;
        border: 1px solid #e9ebee;
        border-radius: 4px;
        min-height: 444px;
        margin-bottom: 14px;
        position: relative;
        
        .authorization {
            position: absolute;
            right: 24px;
            top: 16px;
            display: flex;
            height: 24px;
            .control-box {
                width: 52px;
                height: 24px;
                border-radius: 16px;
                background: #B5BDC6;
                color: #fff;
                margin-right: 8px;
                position: relative;
                cursor: pointer;
                em {
                    position: absolute;
                    left: 3px;
                    top: 2px;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #fff;
                    transition: all .15s;
                }
                p {
                    width: 26px;
                    position: absolute;
                    right: 3px;
                    top: 1px;
                    text-align: center;
                    user-select:none;
                }
                &.active {
                    background: #58A7F8;
                    em {
                        left: 29px;
                    }
                    p {
                        right: 22px;
                    }
                }
            }
        }

        .public-box {
            height: 100px;
            width: 200px;
            padding: 14px 15px 0;
            background: #fff;
            border-radius: 4px;
            border: 1px solid #F0F0F0;
            margin: 33px 24px;
            .item-content-box {
                @extend %font-16px;
                border-bottom: 1px solid  #E9EBEE;
                display: flex;
                align-items: center;
                padding-bottom: 10px;
                .item-icon {
                    background: skyblue;
                    margin-right: 8px;
                    width: 50px;
                    height: 50px;
                }
                p {
                    width: 110px;
                    @include multiTextHide(1);
                    height: 22px;
                    margin: 0;
                }
            }
            .btm-txt {
                color: #B5BDC6;
                @extend %font-12px;
                line-height: 26px;
                margin: 0;
            }
        }
        .voice-box {
            padding: 29px 26px;
            .head-icon {
                width: 50px;
                height: 50px;
                border-radius: 4px;
                background: skyblue;
                margin-right: 10px;
                display: inline-block;
            }
            .item-content-box {
                @extend %font-14px;
                width: 173px;
                height: 34px;
                border-radius: 4px;
                vertical-align: top;
                position: relative;
                display: flex;
                align-items: center;
                background: #6AD298;
                left: 10px;
                padding: 9px 17px;
                &::after{
                    content: "";
                    border: 9px solid #6AD298;
                    border-width: 7px 7px;
                    border-color: transparent #6AD298 transparent transparent;
                    position: absolute;
                    left: -14px;
                    top: 7px;
                }
                em {
                    vertical-align: middle;
                    width: 24px;
                    height: 24px;
                    margin-right: 19px;
                    @extend %iconMt1;
                    background-position: -118px -15px;
                }
            }
        }
        .EditSpace {
            display: flex;
            height: 100%;
            width: 100%;
            height: 444px;
            align-items: center;
            justify-content: center;
            font-size: 14px;
            color: #B5BDC6;
            font-weight: 400;
        }
        .EditText {
            width: 100%;
            min-height: 444px;
            padding: 30px 14px;
            box-sizing: border-box;
            .EditText-textarea {
                width: 100%;
                min-height: 400px;
                resize: none;
                text-indent: 2em;
                line-height: 2em;
            }
            .EditText-num-icon {
                display: flex;
                align-items: center;
                justify-content: flex-end;
                .EditText-icon {
                    width: 28px;
                    height: 28px;
                    @extend %iconMt1;
                    margin-right: 15px;
                    background-position: -159px -92px;
                }
                .EditText-num {
                    font-size: 12px;
                    color: #B5BDC6;
                    display: flex;
                    align-items: center;
                }
            }
        }
        .EditImg {
            height: 444px;
            width: 100%;
            padding: 30px 14px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            .noPic {
                border: none !important;
            }
            .EditImg-text {
                height: 206px;
                display: flex;
                align-items: flex-end;
                margin-left: 10px;
                font-size: 12px;
                color: #B5BDC6;
                font-weight: 400;
            }
        }
        .EditLink {
            height: 444px;
            width: 100%;
            padding: 30px 14px;
            box-sizing: border-box;
            .EditLink-row {
                width: 100%;
                font-size: 14px;
                color: #485767;
                font-weight: 400;
                padding-bottom: 8px;
                margin-bottom: 22px;
                border-bottom: 1px solid #F0F1F3;
                input {
                    width: 100%;
                    &:focus {
                        border: none;
                    }
                }
            }
            .EditLink-img {
                display: flex;
                align-items: center;
                .noPic {
                    border: none !important;
                }
                .EditLink-text {
                    height: 142px;
                    display: flex;
                    align-items: flex-end;
                    margin-left: 10px;
                    font-size: 12px;
                    color: #B5BDC6;
                    font-weight: 400;
                }
            }
        }
        .EditWexx {
            height: 444px;
            width: 100%;
            padding: 30px 14px;
            box-sizing: border-box;
            display: flex;
            justify-content: center;
            align-items: center;
            .EditWexx-uploadwexx-create {
                width: 264px;
                height: 197px;
                cursor: pointer;
                background: #F7F8F9;
                border-radius: 4px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 12px;
                color: #B5BDC6;
                font-weight: 400;
                .icon {
                    width: 32px;
                    height: 34px;
                    @extend %iconMt1;
                    background-position: -187px -92px;
                    margin-bottom: 10px;
                }
                &:hover{
                    color: #344658;
                }
            }
            .EditWexx-uploadwexx-edit {
                width: 100%;
                height: 100%;
                .EditWexx-row {
                    width: 100%;
                    font-size: 14px;
                    color: #485767;
                    font-weight: 400;
                    padding-bottom: 8px;
                    margin-bottom: 22px;
                    border-bottom: 1px solid #F0F1F3;
                    input {
                        width: 100%;
                        &:focus {
                            border: none;
                        }
                    }
                }
                .EditWexx-img {
                    display: flex;
                    align-items: center;
                    .noPic {
                        border: none !important;
                    }
                    .EditWexx-text {
                        height: 142px;
                        display: flex;
                        align-items: flex-end;
                        margin-left: 10px;
                        font-size: 12px;
                        color: #B5BDC6;
                        font-weight: 400;
                    }
                }
            }
        }
        .EditSLink {
            min-height: 444px;
            width: 100%;
            padding: 30px 14px;
            box-sizing: border-box;
            .EditSLink-line {
                width: 100%;
                display: flex;
                margin-bottom: 60px;
                .EditSLink-line-label {
                    font-size: 14px;
                    color: #344658;
                    font-weight: 400;
                    width: 56px;
                    text-align: right;
                    margin-right: 40px;
                }
                .EditSLink-line-content {
                    flex: 1;
                    .EditSLink-row {
                        width: 100%;
                        font-size: 14px;
                        color: #485767;
                        font-weight: 400;
                        padding-bottom: 8px;
                        margin-bottom: 22px;
                        border-bottom: 1px solid #F0F1F3;
                        input {
                            width: 100%;
                            &:focus {
                                border: none;
                            }
                        }
                    }
                    .EditSLink-img {
                        display: flex;
                        align-items: center;
                        .noPic {
                            border: none !important;
                        }
                        .EditSLink-text {
                            height: 142px;
                            display: flex;
                            align-items: flex-end;
                            margin-left: 10px;
                            font-size: 12px;
                            color: #B5BDC6;
                            font-weight: 400;
                        }
                    }
                }
                .EditSLink-line-content-box {
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    .EditSLink-line-content-box-txt {
                        flex: 1;
                        margin-right: 14px;
                        .EditSLink-line-content-box-txt-area {
                            background: #FFFFFF;
                            border: 1px solid #E9EBEE;
                            border-radius: 4px;
                            width: 100%;
                            height: 182px;
                            overflow: auto;
                            padding: 8px 16px;
                            box-sizing: border-box;
                            resize: none;
                            margin-bottom: 10px;
                        }
                    }
                    .EditSLink-line-content-box-img {
                        width: 182px;
                        .noPic {
                            border: none !important;
                        }
                    }
                    .EditSLink-line-content-box-add {
                        display: flex;
                        justify-content: center;
                        font-size: 12px;
                        color: #5D90C5;
                        font-weight: 400;
                        cursor: pointer;
                        &:hover {
                            color: #288BF2;
                        }
                    }
                }
            }
        }
    }
    .MtEdit-edit-tips {
        font-size: 12px;
        color: #B5BDC6;
        font-weight: 400;
        margin-bottom: 49px;
    }
    .MtEdit-edit-btn {
        display: flex;
        justify-content: flex-end;
    }
    /* 图文编辑中的文本编辑 */
    .mt-activeContent {
        position: relative;
        margin-top: 39px;
        width: 100%;
        padding: 0 14px;
    }
    [contenteditable=true]:empty:before {
        content: attr(placeholder);
        color: #B5BDC6;
        display: block;
        font-weight: 400;
        /* For Firefox */
    }
    .mt-activeContent pre {
        text-align: left;
        overflow-x: hidden;
        overflow-y: auto;
        word-wrap: break-word;
        word-break: normal;
        white-space: normal;
        font-size: 14px;
        width: 100%;
        color: #344658;
        height: 356px;
    }
    #pre-container {
        text-align: left;
        overflow-x: hidden;
        overflow-y: auto;
        word-wrap: break-word;
        word-break: normal;
        white-space: normal;
        font-size: 13px;
        width: 100%;
        color: #344658;
        height: 20px;
        border-bottom: 1px solid #DADEE2;
    }
    .noWords {
        height: 20px !important;
        border-bottom: 1px solid #DADEE2;
    }
    .mt-activeContent .gm-animation {
        margin-top: -3px;
        z-index: 4;
        width: 36px;
        height: 36px;
        cursor: pointer;
        margin-right: 14px;
    }
    .mt-activeContent .toolBtn {
        z-index: 4;
        width: 36px;
        height: 36px;
        position: relative;
    }
    .qqfaceBox {
        display: flex;
        height: 20px;
        align-items: center;
        font-size: 12px;
        color: #B5BDC6;
        justify-content: flex-end;
        padding-right: 14px;
        font-weight: 400;
    }
    .mt-activeContent .toolBtn {
        background-position: -185px -38px;
    }
    .counter {
        position: absolute;
        right: 0;
        bottom: -10px;
        text-align: right;
        font-size: 13px;
        color: #B5BDC6;
        width: 54px;
        height: 18px;
    }
    .mt-faceBox {
        position: absolute;
        display: none;
        margin-top: -50px;
        opacity: 0;
        z-index: 2;
        left: -390px;
        top: -245px;
        background-color: white;
        width: 474px;
        height: 232px;
        box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.24);
        border-radius: 2px;
        transition: all .4s;
    }
    .mt-faceBox::before {
        width: 14px;
        height: 14px;
        -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
        box-shadow: 2px 2px 3px rgba(230, 230, 230, 0.87);
        position: absolute;
        z-index: 0;
        bottom: -5px;
        right: 60px;
        background: #fff;
        content: "";
        border-radius: 2px;
    }
    .dot:hover .tip {
        display: block;
    }
}