/**************帮助中心**************/

@import 'styles/public.scss';

.hp-headBox {
    height: 324px;
    min-width: 1145px;
    margin-bottom: 52px;
    background: linear-gradient(to right, #2FBDF3 50%, #1F6DE2 50%);
    .hp-headBox-bg {
        width: 1390px;
        height: 324px;
        margin: 0 auto;
        position: relative;
        background: url(#{$img_path}/images/bj/hp-bg.png) 0 0/contain no-repeat;
    }
    .hp-head-logo {
        width: 99px;
        height: 27px;
        background: url(#{$img_path}/images/icon/logo3.png) no-repeat;
        background-size: contain;
        position: absolute;
        top: 17px;
        left: 48px;
    }
    .hp-head-title {
        @extend %font-28px-light;
        color: #fff;
        position: absolute;
        top: 130px;
        left: 87px;
        cursor: default;
        p {
            margin: 0 0 8px;
        }
    }
}