@import 'styles/public.scss';
@media screen and (min-width: 1920px) {
    .TmheaderSearch .TmheaderSearch-line {
        width: 1452px !important;
    }
    .TmheaderSearch .TmheaderSearch-line .searchRow-line2 {
        display: none !important;
    }
    .TmheaderSearch .TmheaderSearch-line .searchRow-line1 {
        display: flex !important;
    }
    .TmUnEmptyList-content {
        min-width: 1452px !important;
    }
}

@media screen and (max-width: 1440px) {
    .TmheaderSearch .TmheaderSearch-line {
        width: 1098px !important;
    }
    .TmheaderSearch .TmheaderSearch-line .searchRow-line1 {
        display: none !important;
    }
    .TmheaderSearch .TmheaderSearch-line .searchRow-line2 {
        display: flex !important;
    }
    .TmUnEmptyList-content {
        min-width: 1098px !important;
    }
}

.TmheaderSearch {
    width: 100%;
    padding: 22px 0;
    height: 132px;
    box-sizing: border-box;
    .TmheaderSearch-line {
        display: flex;
        min-width: 1098px;
        justify-content: space-between;
        .row {
            width: 362.33px;
            display: flex;
            justify-content: flex-end;
            margin-bottom: 14px;
            align-items: center;
            .title {
                display: inline-block;
                margin-right: 4px;
                color: #344658;
                font-weight: 400;
                font-size: 14px;
            }
            .ant-calendar-picker-input {
                width: 100%;
            }
        }
    }
    .TmheaderSearch-btn {
        transition: all .3s;
        width: 108px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        border: 1px solid #58A7F8;
        border-radius: 4px;
        font-size: 14px;
        color: #58A7F8;
        font-weight: 500;
        cursor: pointer;
        &:hover {
            background: #58A7F8;
            color: #fff;
        }
    }
}