.AccurateBlockBox .AccurateBlock .AccurateBlockItem .icon-check {
  background: url(/images/icon/icon-gi.png) no-repeat;
  background-size: 635px 420px; }

.AccurateBlockBox .AccurateBlock {
  background: #FFFFFF;
  border: 1px solid #E9EBEE;
  border-radius: 4px;
  display: flex;
  width: 516px;
  min-height: 102px;
  flex-wrap: wrap;
  padding: 16px 0 0 16px;
  box-sizing: border-box;
  margin-bottom: 26px; }
  .AccurateBlockBox .AccurateBlock .AccurateBlockItem {
    width: 110px;
    height: 28px;
    box-sizing: border-box;
    text-align: center;
    line-height: 28px;
    margin: 0 14px 14px 0;
    font-size: 14px;
    color: #485767;
    font-weight: 400;
    cursor: pointer;
    background: #F7F8F9;
    position: relative; }
    .AccurateBlockBox .AccurateBlock .AccurateBlockItem.normal {
      border-radius: 4px; }
    .AccurateBlockBox .AccurateBlock .AccurateBlockItem:hover {
      color: #58A7F8; }
    .AccurateBlockBox .AccurateBlock .AccurateBlockItem.active {
      color: #58A7F8;
      border-radius: 4px; }
      .AccurateBlockBox .AccurateBlock .AccurateBlockItem.active .icon-check {
        display: block; }
    .AccurateBlockBox .AccurateBlock .AccurateBlockItem.disabled {
      cursor: not-allowed; }
    .AccurateBlockBox .AccurateBlock .AccurateBlockItem.disabled:hover {
      color: #485767; }
    .AccurateBlockBox .AccurateBlock .AccurateBlockItem.disabled.active {
      color: #58A7F8; }
    .AccurateBlockBox .AccurateBlock .AccurateBlockItem .icon-check {
      position: absolute;
      width: 12px;
      height: 12px;
      background-position: -509px -19px;
      top: 8px;
      right: 2px;
      display: none; }

.AccurateBlockBox .tips {
  width: 516px;
  height: 36px;
  line-height: 36px;
  background: #ECF6FF;
  border-radius: 4px;
  font-size: 12px;
  color: #485767;
  font-weight: 400;
  padding: 0 21px;
  box-sizing: border-box; }
