#imageBox1 {
    width: 1200px;
    height: 800px;
    position: relative;
    margin: 15px auto;
}

#imageBox1 .send {
    position: absolute;
    left: 200px;
    top: 182px;
    z-index: 10
}

#imageBox1 .group {
    position: absolute;
    left: 0;
    top: 200px;
    opacity: 1;
    z-index: 10;
    opacity: 0;
}

#imageBox1.animate .group {
    animation: groupAnimate .9s .2s ease-in-out forwards;
}

@keyframes groupAnimate {
    from {
        top: 100px;
        opacity: 0;
    }

    to {
        top: 200px;
        opacity: 1;
    }
}

#imageBox1 .path7 {
    position: absolute;
    left: 180px;
    top: 532px;
    z-index: 1;
}

#imageBox1 .sitman {
    position: absolute;
    left: 546px;
    top: 610px;
    z-index: 10;
    opacity: 0;
}

#imageBox1.animate .sitman {
    animation: sitmanAnimate 1s .5s ease-in-out forwards;
}

@keyframes sitmanAnimate {
    from {
        top: 400px;
        opacity: 0;
    }

    to {
        top: 610px;
        opacity: 1;
    }
}

#imageBox1 .sitman1 {
    position: absolute;
    left: 595px;
    top: 610px;
    z-index: 10;
    opacity: 0;
}

#imageBox1.animate .sitman1 {
    animation: sitman1Animate 1.9s 1.5s ease-in-out infinite;
}

@keyframes sitman1Animate {
    0% {
        left: 595px;
        opacity: 1;
    }

    50% {
        left: 600px;
        opacity: 1;
    }

    100% {
        left: 595px;
        opacity: 1;
    }
}

#imageBox1 .sitman2 {
    position: absolute;
    left: 586px;
    top: 610px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .sitman2 {
    animation: sitman2Animate 2s 1.5s ease-in-out infinite;
}

@keyframes sitman2Animate {
    0% {
        left: 586px;
        opacity: 1;
    }

    50% {
        left: 590px;
        opacity: 1;
    }

    100% {
        left: 586px;
        opacity: 1;
    }
}

#imageBox1 .path5 {
    position: absolute;
    left: 674px;
    top: 564px;
}

#imageBox1 .dataman {
    position: absolute;
    left: 274px;
    top: 164px;
    z-index: 10;
    opacity: 0;
}

#imageBox1.animate .dataman {
    animation: datamanAnimate 1.1s ease-in-out forwards;
}

@keyframes datamanAnimate {
    from {
        top: 70px;
        opacity: 0;
    }

    to {
        top: 164px;
        opacity: 1;
    }
}

#imageBox1 .path48 {
    position: absolute;
    left: 380px;
    top: 310px;
}

#imageBox1 .path45 {
    position: absolute;
    left: 906px;
    top: 253px;
}

#imageBox1 .man2 {
    position: absolute;
    left: 874px;
    top: 300px;
    z-index: 10;
    opacity: 0;
}

#imageBox1.animate .man2 {
    animation: man2Animate 1s .3s ease-in-out forwards;
}

@keyframes man2Animate {
    from {
        top: 100px;
        opacity: 0;
    }

    to {
        top: 300px;
        opacity: 1;
    }
}

#imageBox1 .title {
    position: absolute;
    left: 528px;
    top: 210px;
    z-index: 10;
}

#imageBox1.animate .title {
    animation: titleAnimate 1.5s ease-in-out 1.5s infinite;
}

@keyframes titleAnimate {
    0% {
        top: 210px;
    }

    50% {
        top: 220px;
    }

    100% {
        top: 210px;
    }
}

#imageBox1 .box_service {
    position: absolute;
    left: 250px;
    top: 530px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_service {
    animation: animate1 10s 0s ease-out infinite;
}

#imageBox1 .box_topic {
    position: absolute;
    /* left: 314px;
    top: 492px; */
    left: 250px;
    top: 530px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_topic {
    animation: animate1 10s 2.5s ease-out infinite;
}

#imageBox1 .box_info {
    position: absolute;
    /* left: 377px;
    top: 455px; */
    left: 250px;
    top: 530px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_info {
    animation: animate1 10s 5s ease-out infinite;
}

#imageBox1 .box_knowledge {
    position: absolute;
    /* left: 440px;
    top: 420px; */
    left: 250px;
    top: 530px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_knowledge {
    animation: animate1 10s 7.5s ease-out infinite;
}

@keyframes animate1 {
    0% {
        left: 250px;
        top: 530px;
        opacity: 0;
    }

    2% {
        left: 250px;
        top: 530px;
        opacity: 1;
    }

    5% {
        left: 250px;
        top: 530px;
        opacity: 1;
    }

    25% {
        left: 345px;
        top: 475px;
        opacity: 1;
    }

    30% {
        left: 345px;
        top: 475px;
        opacity: 1;
    }

    50% {
        left: 440px;
        top: 420px;
        opacity: 1;
    }

    55% {
        left: 440px;
        top: 420px;
        opacity: 1;
    }

    57% {
        left: 455px;
        top: 410px;
        opacity: 0;
    }

    100% {
        left: 455px;
        top: 410px;
        opacity: 0;
    }
}

#imageBox1 .box_text {
    position: absolute;
    left: 750px;
    top: 240px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_text {
    animation: animate2 12.5s 5s ease-out infinite;
}

#imageBox1 .box_pic {
    position: absolute;
    /*  left: 750px;
    top: 240px; */
    left: 750px;
    top: 240px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_pic {
    animation: animate2 12.5s 7.5s ease-out infinite;
}

#imageBox1 .box_wxapp {
    position: absolute;
    /*  left: 750px;
    top: 240px; */
    left: 750px;
    top: 240px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_wxapp {
    animation: animate2 12.5s 10s ease-out infinite;
}

#imageBox1 .box_link {
    position: absolute;
    /*  left: 750px;
    top: 240px; */
    left: 750px;
    top: 240px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_link {
    animation: animate2 12.5s 12.5s ease-out infinite;
}

#imageBox1 .box_video {
    position: absolute;
    /*  left: 750px;
    top: 240px; */
    left: 750px;
    top: 240px;
    z-index: 20;
    opacity: 0;
}

#imageBox1.animate .box_video {
    animation: animate2 12.5s 15s ease-out infinite;
}

@keyframes animate2 {
    0% {
        left: 750px;
        top: 240px;
        opacity: 0;
    }

    1.6% {
        left: 750px;
        top: 240px;
        opacity: 1;
    }

    4% {
        left: 750px;
        top: 240px;
        opacity: 1;
    }

    20% {
        left: 825px;
        top: 200px;
        opacity: 1;
    }

    24% {
        left: 825px;
        top: 200px;
        opacity: 1;
    }

    40% {
        left: 900px;
        top: 160px;
        opacity: 1;
    }

    44% {
        left: 900px;
        top: 160px;
        opacity: 1;
    }

    45.6% {
        left: 910px;
        top: 155px;
        opacity: 0;
    }

    100% {
        left: 910px;
        top: 155px;
        opacity: 0;
    }
}