.TmEmptyList .TmEmptyList-content .TmEmptyList-content-title {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 24px; }

.TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-item .title {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 14px; }

.TmEmptyList .TmEmptyList-content .TmEmptyList-content-text .TmEmptyList-content-text-item {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 12px; }

.TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-item .img {
  background: url(/images/icon/icon-mt2.png) no-repeat;
  background-size: 546px 259px; }

.TmEmptyList {
  width: 100%;
  height: 100%;
  padding-top: 100px; }
  .TmEmptyList .TmEmptyList-content {
    width: 570px;
    margin: 0 auto;
    text-align: center; }
    .TmEmptyList .TmEmptyList-content .TmEmptyList-content-title {
      color: #344658;
      margin-bottom: 78px; }
    .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details {
      width: 100%;
      display: flex;
      justify-content: space-between;
      position: relative; }
      .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-item {
        display: flex;
        flex-direction: column;
        align-items: center; }
        .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-item .title {
          color: #485767; }
        .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-item .img {
          width: 112px;
          height: 112px; }
      .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-text {
        align-self: flex-end; }
        .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-text .img {
          background-position: -25px -36px; }
      .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-img {
        align-self: flex-end; }
        .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-img .img {
          background-position: -144px -36px; }
      .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-h5 {
        align-self: flex-end; }
        .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-h5 .img {
          background-position: -263px -36px; }
      .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-wx {
        align-self: flex-end; }
        .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-wx .img {
          background-position: -27px -152px; }
      .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-line {
        width: 68.4px;
        height: 34.4px;
        position: absolute; }
        .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-line.TmEmptyList-content-details-line-x {
          background: url(/images/bj/line-x.png); }
          .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-line.TmEmptyList-content-details-line-x.TmEmptyList-content-details-line-x-1 {
            top: 100px;
            left: 100px; }
          .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-line.TmEmptyList-content-details-line-x.TmEmptyList-content-details-line-x-2 {
            top: 100px;
            left: 420px; }
        .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-line.TmEmptyList-content-details-line-y {
          background: url(/images/bj/line-y.png); }
          .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-line.TmEmptyList-content-details-line-y.TmEmptyList-content-details-line-y-1 {
            top: 100px;
            left: 260px; }
          .TmEmptyList .TmEmptyList-content .TmEmptyList-content-details .TmEmptyList-content-details-line.TmEmptyList-content-details-line-y.TmEmptyList-content-details-line-y-2 {
            top: 100px;
            left: 582px; }
    .TmEmptyList .TmEmptyList-content .TmEmptyList-content-text {
      margin: 30px 0 77px; }
      .TmEmptyList .TmEmptyList-content .TmEmptyList-content-text .TmEmptyList-content-text-item {
        padding: 0;
        margin: 0;
        color: #485767;
        letter-spacing: 0;
        text-align: center;
        line-height: 24px; }
    .TmEmptyList .TmEmptyList-content .TmEmptyList-content-create {
      display: flex;
      justify-content: center;
      align-items: center; }
  .TmEmptyList .guideButton {
    width: 108px;
    height: 36px;
    position: relative; }
    .TmEmptyList .guideButton:hover .public-tipBubble {
      transform: scale(1);
      opacity: 1; }
