.cw-editModal {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 14px; }

.cw-editModal .imgPreview .delBtn {
  background: url(/images/icon/icon-gi.png) no-repeat;
  background-size: 635px 420px; }

.cw-editModal {
  width: 728px;
  height: 570px;
  background: #FFFFFF;
  border-radius: 4px;
  color: #344658;
  margin: 100px auto;
  position: relative !important;
  left: 0 !important;
  top: 0 !important;
  transform: none !important; }
  .cw-editModal .title {
    height: 58px;
    border-bottom: 1px solid #E9EBEE;
    line-height: 58px;
    padding-left: 22px;
    font-size: 16px; }
  .cw-editModal .editBox {
    padding: 24px 28px 24px 22px; }
  .cw-editModal .row {
    display: flex;
    margin-bottom: 14px; }
    .cw-editModal .row .label {
      margin-right: 4px;
      flex: none; }
  .cw-editModal .row-middle {
    align-items: center; }
  .cw-editModal .selectWrappers {
    margin-right: 16px; }
    .cw-editModal .selectWrappers:last-child {
      margin-right: 0px; }
  .cw-editModal .tagBox {
    width: 632px;
    height: 94px;
    border: 1px solid #E9EBEE;
    border-radius: 4px;
    position: relative;
    padding: 10px 16px; }
  .cw-editModal .questionBox {
    width: 632px;
    height: 36px;
    position: relative; }
    .cw-editModal .questionBox input {
      border: 1px solid #E9EBEE;
      border-radius: 4px;
      padding: 8px 60px 8px 16px;
      width: 100%;
      height: 100%; }
      .cw-editModal .questionBox input:hover, .cw-editModal .questionBox input:focus {
        border: 1px solid #58A7F8; }
  .cw-editModal .answerBox {
    width: 632px;
    height: 120px;
    position: relative; }
    .cw-editModal .answerBox textarea {
      border: 1px solid #E9EBEE;
      border-radius: 4px;
      padding: 8px 16px 30px;
      width: 100%;
      height: 100%;
      resize: none; }
      .cw-editModal .answerBox textarea:hover, .cw-editModal .answerBox textarea:focus {
        border: 1px solid #58A7F8; }
  .cw-editModal .imgPreview {
    width: 100px;
    height: 100px;
    position: relative;
    cursor: pointer;
    margin-right: 14px; }
    .cw-editModal .imgPreview .img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      border-radius: 4px; }
    .cw-editModal .imgPreview .delBtn {
      background-position: -314px -135px;
      position: absolute;
      top: -13px;
      right: -13px;
      width: 26px;
      height: 26px;
      display: none; }
    .cw-editModal .imgPreview:hover .delBtn {
      display: block; }
  .cw-editModal .limit {
    position: absolute;
    right: 10px;
    bottom: 8px;
    font-size: 12px;
    color: #B5BDC6; }
