@import 'styles/public.scss';

.fast-edit-build-group {
    background: #f0f1f3;
    height: 100%;
    overflow: auto;
    padding: 24px;

    .header {
        min-width: 1084px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 24px;
        @extend %font-16px;
        color: #485767;

        .dataItem {
            width: 530px;
            height: 100px;
            background: #FFF;
            flex: auto;
            padding-left: 7%;
            display: flex;
            align-items: center;

            &:first-child {
                margin-right: 24px;
            }
        }

        .dataName {
            margin-right: 32px;
        }
    }

    .content {
        min-width: 1084px;
        padding: 30px 30px 37px 18px;
        background: #FFF;
    }

    .qrCode {
        width: 19px;
        height: 19px;
        position: relative;
        @extend %iconGi;
        background-position: -517px -92px;
        cursor: pointer;
    }

    .qrBox {
        position: absolute;
        width: 124px;
        height: 140px;
        padding: 13px 20px;
        font-size: 12px;
        background: #FFF;
        box-shadow: 0 1px 6px 0 #DADEE2;
        border-radius: 4px;
        text-align: center;
        left: 0;
        top: 20px;
        z-index: 3;
        display: none;
    }

    .qrImg {
        width: 70px;
        height: 70px;
        margin: 0 auto 9px;
    }

    .operate {
        cursor: pointer;
        color: #5D90C5;

        &:hover {
            color: #58A7F8;
        }
    }

    .bottom {
        color: #5D90C5;
        margin-top: 20px;
        min-width: 1084px;

        .backBtn {
            cursor: pointer;
            float: right;
            margin-right: 120px;

            &:hover {
                color: #58A7F8;
            }
        }
    }

    .addBox {
        width: 454px;
        height: 423px;
        @extend %font-14px;
        color: #344658;

        .addBox-title {
            height: 58px;
            border-bottom: 1px solid #E9EBEE;
            font-size: 16px;
            line-height: 58px;
            padding-left: 22px;
        }

        .addBox-content {
            padding: 33px 30px 33px 24px;
        }

        .row {
            display: flex;
            margin-bottom: 20px;
            flex-wrap: wrap;

            .inputBox {
                position: relative;
            }

            .label {
                line-height: 36px;
            }

            .numberIpt {
                width: 340px;
                height: 36px;
                padding-left: 10px;
                border: 1px solid #E9EBEE;
                border-radius: 4px;
            }

            .unit {
                position: absolute;
                width: 30px;
                height: 34px;
                line-height: 34px;
                top: 1px;
                right: 1px;
                background: #FFF;
            }

            .nameList {
                width: 340px;
                height: 150px;
                background: #F8F8F9;
                border-radius: 4px;
                padding: 8px 16px;
                overflow: auto;
                line-height: 20px;
            }

            .errTip{
                width: 100%;
                color: #F75A5A;
                font-size: 12px;
                height: 20px;
                padding-left: 56px;
            }
        }
    }

    .pageFooter{
        display: flex;
        justify-content: center;
        margin: 50px 0;
    }

    .ant-table {
        @extend %font-14px;
        color: #344658;
    }

    .ant-table-thead>tr>th {
        color: #344658;
        background: #FFF;
    }
}