@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
    box-sizing: border-box;
}

@media screen and (max-width: 1920px) {
    .TmheaderSearch .TmheaderSearch-line {
        width: 1452px !important;
    }

    .TmheaderSearch .TmheaderSearch-line .searchRow-line2 {
        display: none !important;
    }

    .TmheaderSearch .TmheaderSearch-line .searchRow-line1 {
        display: flex !important;
    }

    .TmUnEmptyList-content {
        min-width: 1452px !important;
    }
}

@media screen and (max-width: 1440px) {
    .TmheaderSearch .TmheaderSearch-line {
        width: 1098px !important;
    }

    .TmheaderSearch .TmheaderSearch-line .searchRow-line1 {
        display: none !important;
    }

    .TmheaderSearch .TmheaderSearch-line .searchRow-line2 {
        display: flex !important;
    }

    .TmUnEmptyList-content {
        min-width: 1098px !important;
    }
}

a {
    text-decoration: none;
}

html {
    display: block;
}

html,
body {
    height: 100%;
}

/* @font-face {
  font-family: 'PingFangSC-Regular';
  src:url('/font/pingfangscregula.ttf');
} */
body {
    display: block;
    font-size: 12px;
    font-family: "PingFang SC";
}

ul,
li {
    list-style: none;
}

input:not(:read-only):focus {
    border: 1px solid rgb(88, 167, 248);
}

input::-webkit-input-placeholder {
    color: #B5BDC6;
    font-family: 'PingFangSC-light';
}

input::-moz-input-placeholder {
    color: #B5BDC6;
    font-family: 'PingFangSC-light';
}

input::-o-input-placeholder {
    color: #B5BDC6;
    font-family: 'PingFangSC-light';
}

textarea::-webkit-input-placeholder {
    color: #B5BDC6;
    font-family: 'PingFangSC-light';
}

textarea::-moz-input-placeholder {
    color: #B5BDC6;
    font-family: 'PingFangSC-light';
}

textarea::-o-input-placeholder {
    color: #B5BDC6;
    font-family: 'PingFangSC-light';
}

.clearfix {
    *zoom: 1;
}

.clearfix:after {
    clear: both;
    content: '.';
    display: block;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.modalWrapper {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(30, 34, 32, 0.40);
    z-index: 999;
    overflow: auto;
}

.modalWrapper .modalBox {
    background: #FFFFFF;
    border-radius: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.modalWrapper .modalBox .closeBtn {
    width: 20px;
    height: 20px;
    background: url('../images/icon/icon-home.png') no-repeat;
    background-size: 500px 363px;
    background-position: -128px -95px;
    position: absolute;
    right: -37px;
    top: 4px;
    cursor: pointer;
}

.modalWrapper .modalBox .closeBtn:hover {
    background-position: -128px -122px;
}

/* .iconBackground-v2 {
    background: url('../images/icon/icongraphy.png') no-repeat;
    background-size: 1280px 2092px;
} */

.icon-home {
    background: url('../images/icon/icon-home.png') no-repeat;
    background-size: 500px 363px;
}

.icon-gi {
    background: url('../images/icon/icon-gi.png') no-repeat;
    background-size: 635px 420px;
}

.icon-gm {
    background: url('../images/icon/icon-gm.png') no-repeat;
    background-size: 1021px 400px;
}

.icon-mt1 {
    background: url('../images/icon/icon-mt1.png') no-repeat;
    background-size: 536px 177px;
}

.icon-mt2 {
    background: url('../images/icon/icon-mt2.png') no-repeat;
    background-size: 546px 259px;
}

.icon-set {
    background: url('../images/icon/icon-set.png') no-repeat;
    background-size: 317px 186px;
}

.icon-cw {
    background: url('../images/icon/icon-cw.png') no-repeat;
    background-size: 133px 147px;
}

/* 等待替换 */
/* .icon-background {
    background: url('../images/icon/iconography.png')no-repeat;
    background-size: 600px 700px;
} */

.saas-container {
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
}

.saas-container .navBarWrapper {
    flex: none;
}

.saas-container .navBarWrapper+div {
    flex: none;
    width: calc(100% - 148px);
}

.gc-headBox {
    height: 59px;
    background: #fff;
    border-bottom: 1px solid #DEE2E6;
}

/*加载动画*/
.LoadingAnimation {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 20;
    left: 0;
    top: 0;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.3)
}

.LoadingAnimation .loadBox {
    width: 120px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.LoadingAnimation .loadText {
    color: #fff;
    font-size: 17px;
    text-align: center;
    margin-top: 20px;
}

/**************重新登录页面**************/
.login-again {
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    font-weight: normal;
    /*width: 1160px;*/
    position: relative;
}

.login-again .goBackLogin {
    position: relative;
    margin: 15% auto;
    text-align: center;
}

.login-again-icon {
    display: inline-block;
    height: 200px;
    width: 200px;
    background: url('../images/bj/loginAgin.png')no-repeat;
    background-size: cover;
    margin-bottom: 2px;
    margin-left: -20px;
}

.login-again .goBackLogin>p {
    margin: 0 auto;
    width: 262.8px;
    height: 28px;
    text-align: center;
    font-family: PingFangSC-Regular;
    font-size: 20px;
    color: #58A7F8;
    letter-spacing: 0;
    line-height: 28px;
    /* padding-left: 16px; */
    margin-bottom: 30px;
}

.login-again .goBackLogin .click-login {
    display: inline-block;
    height: 42px;
    width: 278px;
    background: #288BF2;
    border-radius: 6px;
    font-family: PingFangSC-Medium;
    font-size: 13px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 42px;
    cursor: pointer;
}

.login-again .goBackLogin .click-login:hover {
    background-color: #58A7F8
}

/* 购买服务页 */
.needownWrapper {
    overflow: hidden;
    height: calc(100% - 60px);
    position: relative;
}

.needownWrapper .showBj {
    margin: 0 auto;
    margin-top: 150px;
    width: 259px;
    height: 161px;
    background: url('../images/bj/needOwn.png') no-repeat center;
    background-size: 259px 161px;
}

.needownWrapper .desc {
    margin: 0 auto;
    margin-top: 40px;
    width: 400px;
    height: 22px;
    text-align: center;
    font-weight: 400px;
    font-size: 16px;
    color: #58A7F8;
}

.needownWrapper .butt {
    margin: 0 auto;
    margin-top: 60px;
    width: 278px;
    height: 42px;
    background: #288BF2;
    border-radius: 6px;
    line-height: 42px;
    font-size: 13px;
    font-weight: 400px;
    color: #FFFFFF;
    text-align: center;
    cursor: pointer;
}

.needownWrapper .butt:hover {
    opacity: 0.6
}

.needownWrapper .butt:active {
    opacity: 1
}

.qqemoji {
    background: url('../images/icon/qqEmojj.png') 0 0 no-repeat;
    width: 20px;
    height: 20px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    *display: inline;
    background-size: 360px 192px;
}

.qqemoji0 {
    background-position: 0 0
}

.qqemoji1 {
    background-position: -24px 0
}

.qqemoji2 {
    background-position: -48px 0
}

.qqemoji3 {
    background-position: -72px 0
}

.qqemoji4 {
    background-position: -96px 0
}

.qqemoji5 {
    background-position: -120px 0
}

.qqemoji6 {
    background-position: -144px 0
}

.qqemoji7 {
    background-position: -168px 0
}

.qqemoji8 {
    background-position: -192px 0
}

.qqemoji9 {
    background-position: -216px 0
}

.qqemoji10 {
    background-position: -240px 0
}

.qqemoji11 {
    background-position: -264px 0
}

.qqemoji12 {
    background-position: -288px 0
}

.qqemoji13 {
    background-position: -312px 0
}

.qqemoji14 {
    background-position: -336px 0
}

.qqemoji15 {
    background-position: 0 -24px
}

.qqemoji16 {
    background-position: -24px -24px
}

.qqemoji17 {
    background-position: -48px -24px
}

.qqemoji18 {
    background-position: -72px -24px
}

.qqemoji19 {
    background-position: -96px -24px
}

.qqemoji20 {
    background-position: -120px -24px
}

.qqemoji21 {
    background-position: -144px -24px
}

.qqemoji22 {
    background-position: -168px -24px
}

.qqemoji23 {
    background-position: -192px -24px
}

.qqemoji24 {
    background-position: -216px -24px
}

.qqemoji25 {
    background-position: -240px -24px
}

.qqemoji26 {
    background-position: -264px -24px
}

.qqemoji27 {
    background-position: -288px -24px
}

.qqemoji28 {
    background-position: -312px -24px
}

.qqemoji29 {
    background-position: -336px -24px
}

.qqemoji30 {
    background-position: 0 -48px
}

.qqemoji31 {
    background-position: -24px -48px
}

.qqemoji32 {
    background-position: -48px -48px
}

.qqemoji33 {
    background-position: -72px -48px
}

.qqemoji34 {
    background-position: -96px -48px
}

.qqemoji35 {
    background-position: -120px -48px
}

.qqemoji36 {
    background-position: -144px -48px
}

.qqemoji37 {
    background-position: -168px -48px
}

.qqemoji38 {
    background-position: -192px -48px
}

.qqemoji39 {
    background-position: -216px -48px
}

.qqemoji40 {
    background-position: -240px -48px
}

.qqemoji41 {
    background-position: -264px -48px
}

.qqemoji42 {
    background-position: -288px -48px
}

.qqemoji43 {
    background-position: -312px -48px
}

.qqemoji44 {
    background-position: -336px -48px
}

.qqemoji45 {
    background-position: 0 -72px
}

.qqemoji46 {
    background-position: -24px -72px
}

.qqemoji47 {
    background-position: -48px -72px
}

.qqemoji48 {
    background-position: -72px -72px
}

.qqemoji49 {
    background-position: -96px -72px
}

.qqemoji50 {
    background-position: -120px -72px
}

.qqemoji51 {
    background-position: -144px -72px
}

.qqemoji52 {
    background-position: -168px -72px
}

.qqemoji53 {
    background-position: -192px -72px
}

.qqemoji54 {
    background-position: -216px -72px
}

.qqemoji55 {
    background-position: -240px -72px
}

.qqemoji56 {
    background-position: -264px -72px
}

.qqemoji57 {
    background-position: -288px -72px
}

.qqemoji58 {
    background-position: -312px -72px
}

.qqemoji59 {
    background-position: -336px -72px
}

.qqemoji60 {
    background-position: 0 -96px
}

.qqemoji61 {
    background-position: -24px -96px
}

.qqemoji62 {
    background-position: -48px -96px
}

.qqemoji63 {
    background-position: -72px -96px
}

.qqemoji64 {
    background-position: -96px -96px
}

.qqemoji65 {
    background-position: -120px -96px
}

.qqemoji66 {
    background-position: -144px -96px
}

.qqemoji67 {
    background-position: -168px -96px
}

.qqemoji68 {
    background-position: -192px -96px
}

.qqemoji69 {
    background-position: -216px -96px
}

.qqemoji70 {
    background-position: -240px -96px
}

.qqemoji71 {
    background-position: -264px -96px
}

.qqemoji72 {
    background-position: -288px -96px
}

.qqemoji73 {
    background-position: -312px -96px
}

.qqemoji74 {
    background-position: -336px -96px
}

.qqemoji75 {
    background-position: 0 -120px
}

.qqemoji76 {
    background-position: -24px -120px
}

.qqemoji77 {
    background-position: -48px -120px
}

.qqemoji78 {
    background-position: -72px -120px
}

.qqemoji79 {
    background-position: -96px -120px
}

.qqemoji80 {
    background-position: -120px -120px
}

.qqemoji81 {
    background-position: -144px -120px
}

.qqemoji82 {
    background-position: -168px -120px
}

.qqemoji83 {
    background-position: -192px -120px
}

.qqemoji84 {
    background-position: -216px -120px
}

.qqemoji85 {
    background-position: -240px -120px
}

.qqemoji86 {
    background-position: -264px -120px
}

.qqemoji87 {
    background-position: -288px -120px
}

.qqemoji88 {
    background-position: -312px -120px
}

.qqemoji89 {
    background-position: -336px -120px
}

.qqemoji90 {
    background-position: 0 -144px
}

.qqemoji91 {
    background-position: -24px -144px
}

.qqemoji92 {
    background-position: -48px -144px
}

.qqemoji93 {
    background-position: -72px -144px
}

.qqemoji94 {
    background-position: -96px -144px
}

.qqemoji95 {
    background-position: -120px -144px
}

.qqemoji96 {
    background-position: -144px -144px
}

.qqemoji97 {
    background-position: -168px -144px
}

.qqemoji98 {
    background-position: -192px -144px
}

.qqemoji99 {
    background-position: -216px -144px
}

.qqemoji100 {
    background-position: -240px -144px
}

.qqemoji101 {
    background-position: -264px -144px
}

.qqemoji102 {
    background-position: -288px -144px
}

.qqemoji103 {
    background-position: -312px -144px
}

.qqemoji104 {
    background-position: -336px -144px
}

.qqemoji105 {
    background-position: 0 -168px
}

.qqemoji106 {
    background-position: -24px -168px
}

.qqemoji107 {
    background-position: -48px -168px
}

.qqemoji108 {
    background-position: -72px -168px
}

.qqemoji109 {
    background-position: -96px -168px
}

.qqemoji110 {
    background-position: -120px -168px
}

.qqemoji111 {
    background-position: -144px -168px
}

.qqemoji112 {
    background-position: -168px -168px
}

.qq_face .qqface0 {
    background-position: 0 0
}

.qq_face .qqface1 {
    background-position: -29px 0
}

.qq_face .qqface2 {
    background-position: -58px 0
}

.qq_face .qqface3 {
    background-position: -87px 0
}

.qq_face .qqface4 {
    background-position: -116px 0
}

.qq_face .qqface5 {
    background-position: -145px 0
}

.qq_face .qqface6 {
    background-position: -174px 0
}

.qq_face .qqface7 {
    background-position: -203px 0
}

.qq_face .qqface8 {
    background-position: -232px 0
}

.qq_face .qqface9 {
    background-position: -261px 0
}

.qq_face .qqface10 {
    background-position: -290px 0
}

.qq_face .qqface11 {
    background-position: -319px 0
}

.qq_face .qqface12 {
    background-position: -348px 0
}

.qq_face .qqface13 {
    background-position: -377px 0
}

.qq_face .qqface14 {
    background-position: -406px 0
}

.qq_face .qqface15 {
    background-position: 0 -29px
}

.qq_face .qqface16 {
    background-position: -29px -29px
}

.qq_face .qqface17 {
    background-position: -58px -29px
}

.qq_face .qqface18 {
    background-position: -87px -29px
}

.qq_face .qqface19 {
    background-position: -116px -29px
}

.qq_face .qqface20 {
    background-position: -145px -29px
}

.qq_face .qqface21 {
    background-position: -174px -29px
}

.qq_face .qqface22 {
    background-position: -203px -29px
}

.qq_face .qqface23 {
    background-position: -232px -29px
}

.qq_face .qqface24 {
    background-position: -261px -29px
}

.qq_face .qqface25 {
    background-position: -290px -29px
}

.qq_face .qqface26 {
    background-position: -319px -29px
}

.qq_face .qqface27 {
    background-position: -348px -29px
}

.qq_face .qqface28 {
    background-position: -377px -29px
}

.qq_face .qqface29 {
    background-position: -406px -29px
}

.qq_face .qqface30 {
    background-position: 0 -58px
}

.qq_face .qqface31 {
    background-position: -29px -58px
}

.qq_face .qqface32 {
    background-position: -58px -58px
}

.qq_face .qqface33 {
    background-position: -87px -58px
}

.qq_face .qqface34 {
    background-position: -116px -58px
}

.qq_face .qqface35 {
    background-position: -145px -58px
}

.qq_face .qqface36 {
    background-position: -174px -58px
}

.qq_face .qqface37 {
    background-position: -203px -58px
}

.qq_face .qqface38 {
    background-position: -232px -58px
}

.qq_face .qqface39 {
    background-position: -261px -58px
}

.qq_face .qqface40 {
    background-position: -290px -58px
}

.qq_face .qqface41 {
    background-position: -319px -58px
}

.qq_face .qqface42 {
    background-position: -348px -58px
}

.qq_face .qqface43 {
    background-position: -377px -58px
}

.qq_face .qqface44 {
    background-position: -406px -58px
}

.qq_face .qqface45 {
    background-position: 0 -87px
}

.qq_face .qqface46 {
    background-position: -29px -87px
}

.qq_face .qqface47 {
    background-position: -58px -87px
}

.qq_face .qqface48 {
    background-position: -87px -87px
}

.qq_face .qqface49 {
    background-position: -116px -87px
}

.qq_face .qqface50 {
    background-position: -145px -87px
}

.qq_face .qqface51 {
    background-position: -174px -87px
}

.qq_face .qqface52 {
    background-position: -203px -87px
}

.qq_face .qqface53 {
    background-position: -232px -87px
}

.qq_face .qqface54 {
    background-position: -261px -87px
}

.qq_face .qqface55 {
    background-position: -290px -87px
}

.qq_face .qqface56 {
    background-position: -319px -87px
}

.qq_face .qqface57 {
    background-position: -348px -87px
}

.qq_face .qqface58 {
    background-position: -377px -87px
}

.qq_face .qqface59 {
    background-position: -406px -87px
}

.qq_face .qqface60 {
    background-position: 0 -116px
}

.qq_face .qqface61 {
    background-position: -29px -116px
}

.qq_face .qqface62 {
    background-position: -58px -116px
}

.qq_face .qqface63 {
    background-position: -87px -116px
}

.qq_face .qqface64 {
    background-position: -116px -116px
}

.qq_face .qqface65 {
    background-position: -145px -116px
}

.qq_face .qqface66 {
    background-position: -174px -116px
}

.qq_face .qqface67 {
    background-position: -203px -116px
}

.qq_face .qqface68 {
    background-position: -232px -116px
}

.qq_face .qqface69 {
    background-position: -261px -116px
}

.qq_face .qqface70 {
    background-position: -290px -116px
}

.qq_face .qqface71 {
    background-position: -319px -116px
}

.qq_face .qqface72 {
    background-position: -348px -116px
}

.qq_face .qqface73 {
    background-position: -377px -116px
}

.qq_face .qqface74 {
    background-position: -406px -116px
}

.qq_face .qqface75 {
    background-position: 0 -145px
}

.qq_face .qqface76 {
    background-position: -29px -145px
}

.qq_face .qqface77 {
    background-position: -58px -145px
}

.qq_face .qqface78 {
    background-position: -87px -145px
}

.qq_face .qqface79 {
    background-position: -116px -145px
}

.qq_face .qqface80 {
    background-position: -145px -145px
}

.qq_face .qqface81 {
    background-position: -174px -145px
}

.qq_face .qqface82 {
    background-position: -203px -145px
}

.qq_face .qqface83 {
    background-position: -232px -145px
}

.qq_face .qqface84 {
    background-position: -261px -145px
}

.qq_face .qqface85 {
    background-position: -290px -145px
}

.qq_face .qqface86 {
    background-position: -319px -145px
}

.qq_face .qqface87 {
    background-position: -348px -145px
}

.qq_face .qqface88 {
    background-position: -377px -145px
}

.qq_face .qqface89 {
    background-position: -406px -145px
}

.qq_face .qqface90 {
    background-position: 0 -174px
}

.qq_face .qqface91 {
    background-position: -29px -174px
}

.qq_face .qqface92 {
    background-position: -58px -174px
}

.qq_face .qqface93 {
    background-position: -87px -174px
}

.qq_face .qqface94 {
    background-position: -116px -174px
}

.qq_face .qqface95 {
    background-position: -145px -174px
}

.qq_face .qqface96 {
    background-position: -174px -174px
}

.qq_face .qqface97 {
    background-position: -203px -174px
}

.qq_face .qqface98 {
    background-position: -232px -174px
}

.qq_face .qqface99 {
    background-position: -261px -174px
}

.qq_face .qqface100 {
    background-position: -290px -174px
}

.qq_face .qqface101 {
    background-position: -319px -174px
}

.qq_face .qqface102 {
    background-position: -348px -174px
}

.qq_face .qqface103 {
    background-position: -377px -174px
}

.qq_face .qqface104 {
    background-position: -406px -174px
}

.faceBox {
    position: absolute;
    display: none;
    margin-top: 50px;
    opacity: 0;
    z-index: 2;
    left: -15px;
    top: -240px;
    background-color: white;
    width: 474px;
    height: 232px;
    box-shadow: 0 2px 2px 0 #E9EBEE, 0 4px 8px 0 #E9EBEE;
    border-radius: 4px;
    transition: all .4s;
}

/*.disppear{

}*/

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    80% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }

    100% {
        display: block;
    }
}

.faceBox::before {
    width: 14px;
    height: 14px;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    box-shadow: -2px -2px 3px rgba(230, 230, 230, 0.87);
    position: absolute;
    z-index: 0;
    top: 96%;
    left: 5%;
    background: #fff;
    content: "";
    border-radius: 2px;
}

.exp_cont {
    overflow: hidden;
    margin: 15px 20px;
}

.qq_face {
    overflow: hidden;
    width: 435px;
    height: 202px;
    margin-right: -1px;
}

.qq_face a {
    box-sizing: content-box;
    float: left;
    width: 28px;
    height: 28px;
    font-size: 0;
    text-indent: -999em;
    border-bottom: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    cursor: pointer;
    background: url('../images/icon/emojj_qq.png') no-repeat;
    background-size: 434px 202px;
}

/* 波纹动画 */
.wave-square,
.wave-square-small,
.wave-circle {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: #58A7F8;
    border-radius: 4px;
    transform: scale(1);
    opacity: 0.6;
    animation: heart ease-in-out 1.5s infinite;
}

.wave-square-small{
    animation: heart-small ease-in-out 1.5s infinite;
}

.wave-circle {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    margin-top: -19px;
    margin-left: -19px;
}

@keyframes heart {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }

    80% {
        opacity: 0;
        transform: scale(1.4);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

@keyframes heart-small {
    0% {
        opacity: 0.6;
        transform: scale(1);
    }

    80% {
        opacity: 0;
        transform: scale(1.2);
    }

    100% {
        opacity: 0;
        transform: scale(1);
    }
}

/* animate css */
.animated {
    -webkit-animation-duration: 0.6s;
    animation-duration: 0.6s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}


@keyframes fadeOutUp {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }
}

.fadeOutUp {
    -webkit-animation-name: fadeOutUp;
    animation-name: fadeOutUp;
}



@keyframes fadeInDown {
    from {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    animation-name: fadeInDown;
}

@keyframes fadeOutDown {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOutDown {
    -webkit-animation-name: fadeOutDown;
    animation-name: fadeOutDown;
}

/* 模板选择状态 */
.shape-control {
    position: relative;
    padding: 2px;
    border: 1px solid transparent;
}
.shape-control-select {
    border: 1px solid #ECF6FF;
}

.shape-control-select .shape-control-rect {
    width: 4px;
    height: 4px;
    background: #fff;
    position: absolute;
    transform: translate(-50%,-50%);
}

.shape-control-select .shape-control-rect-left-top {
    left: 0;
    top: 0;
}

.shape-control-select .shape-control-rect-top {
    top: 0;
    left: 50%;
}

.shape-control-select .shape-control-rect-right-top {
    top: 0;
    left: 100%;
}

.shape-control-select .shape-control-rect-right {
    top: 50%;
    left: 100%;
}

.shape-control-select .shape-control-rect-right-bottom {
    top: 100%;
    left: 100%;
}

.shape-control-select .shape-control-rect-bottom {
    left: 50%;
    top: 100%;
}

.shape-control-select .shape-control-rect-left-bottom {
    left: 0;
    top: 100%;
}

.shape-control-select .shape-control-rect-left {
    left: 0;
    top: 50%;
}

/* icon动画 */
.animation {
    position: relative;
    cursor: pointer;
}
.animation::before {
    content: '';
    display: block;
    background: #e9ebee;
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
}
@keyframes zhang {
    from {transform: scale(.6)}
    to {transform: scale(1)}
}
.animation:hover::before {
    transform: scale(1);
    animation: zhang .15s;
}
@keyframes sheng {
    from {
        opacity: 0;
        top: -55px;
        visibility: hidden;
    }
    to {
        opacity: 1;
        top: -86px;
        visibility: visible;
    }
}

/* error 页面样式 */
.errorWrapper{
    width: 100%;
    height: 1005px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: PingFangSC-Light;
}

.leftImg{
    margin-right: 40px;
}

.leftImg img{
    width: 147px;
    height: 177px;    
}

.rightText h6{
    font-size: 24px;
    color: #344658;
    margin-bottom: 12px;
}

.rightText p{
    font-size: 14px;
    color: #344658;
}

.noSrcoll::-webkit-scrollbar {
    display: none;
}