@import 'styles/public.scss';
.IptLimit {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    .title{
        font-size: 14px;
        color: #344658;
        font-weight: 400;
        margin-right: 4px;
         .resTxt{
                font-size: 16px;
                color: #F75A5A;
                line-height: 36px;
                margin-right: 6px;
            }
    }
     .content{
            background: #FFFFFF;
            border: 1px solid #E9EBEE;
            border-radius: 4px;
            height: 36px;
            display: flex;
            align-items: center;
            &:hover{
                border-color: #58A7F8;
            }
            .input{
                flex: 1;
                padding: 0 0 0 16px;
                color: #344658;
                &:focus{
                    border: 0 none;
                }
            }
            .num{
                width: 40px;
                text-align: right;
                font-size: 12px;
                color: #B5BDC6;
                margin-right: 10px;
            }
        }
    .disabled,
    .disabled .input{
        cursor: not-allowed;
    }
}
