@import 'styles/public.scss';

.cw-batchModal {
    width: 420px;
    height: 350px;
    background: #FFFFFF;
    border-radius: 4px;

    .title {
        height: 58px;
        line-height: 58px;
        padding-left: 22px;
        @extend %font-16px;
        color: #344658;
        border-bottom: 1px solid #E9EBEE;
    }

    img {
        width: 130px;
        height: 115px;
        display: block;
        margin: 35px auto 30px;
    }

    .tips {
        @extend %font-14px;
        color: #B5BDC6;
        margin-top: 14px;
        text-align: center;
        span{
            cursor: pointer;
            text-decoration: underline;
            color: #5D90C5;
            &:hover{
                color: #58A7F8;
            }
        }
    }
}