@import 'styles/public.scss';

.td-container {
    overflow: auto;
    height: calc(100% - 60px);
    padding: 24px;
    background: #F0F1F3;
    position: relative;
    @extend %font-14px;
    color: #344658;

    .tabBox {
        font-size: 16px;
        color: #485767;

        .tabName {
            padding-bottom: 4px;
            cursor: pointer;
        }

        .active {
            font-weight: 500;
            border-bottom: 3px solid #58A7F8;
        }

        .line {
            display: inline-block;
            width: 2px;
            height: 20px;
            margin: 0 12px;
            vertical-align: middle;
            background: #E9EBEE;
        }
    }

    .operateBox {
        height: 36px;
        min-width: 1084px;
        margin: 0 0 24px 0;
    }

    .dateBox {
        display: flex;
        align-items: center;

        .label {
            margin-right: 4px;
        }
    }

    .downloadBtn {
        display: inline-block;
        width: 108px;
        height: 36px;
        line-height: 36px;
        vertical-align: middle;
        cursor: pointer;
        background: #58A7F8;
        border-radius: 4px;
        color: #FFF;
        text-align: center;
        float: right;

        .download-icon {
            @extend %iconHome;
            display: inline-block;
            width: 24px;
            height: 24px;
            background-position: -301px -174px;
            vertical-align: middle;
            margin-right: 4px;
            transform: translateY(-1px);
        }

        &:hover {
            background: #288BF2;
        }
    }

    .topLinkBox {
        min-width: 1084px;
        height: 344px;
        background: #FFFFFF;
        border-radius: 4px;
        padding: 0 24px;
        margin-bottom: 24px;
        position: relative;

        .title {
            height: 64px;
            border-bottom: 1px solid #E9EBEE;
            font-size: 16px;
            line-height: 63px;
        }

        .linkBox {
            padding: 40px 8px 0;
            display: flex;
            justify-content: space-between;
            position: relative;
        }

        .link {
            width: 32%;
            height: 208px;
            border: 1px solid #E9EBEE;
            border-radius: 4px;
            position: relative;
            cursor: pointer;

            .detail {
                color: #B5BDC6;
                position: absolute;
                top: 16px;
                right: 16px;
                display: none;
            }

            &:hover {
                border-color: #B5BDC6;
            }

            &:hover .detail {
                display: block;
            }
        }

        .content {
            padding: 16px 16px 16px 0px;
        }

        .icon-top {
            width: 36px;
            height: 36px;
            float: left;
            margin-left: 5px;
            @extend %iconHome;
        }

        .link:nth-child(1) .icon-top {
            background-position: -7px -210px;
        }

        .link:nth-child(2) .icon-top {
            background-position: -43px -210px;
        }

        .link:nth-child(3) .icon-top {
            background-position: -79px -210px;
        }

        .time {
            margin-left: 48px;
        }

        .linkTitle {
            margin-left: 45px;
            font-weight: 500;
            @include multiTextHide(1);
        }

        .line {
            margin: 0 16px;
            border-bottom: 1px solid #E9EBEE;
        }

        .countBox {
            display: flex;
            align-items: center;
            text-align: center;
            padding-top: 23px;
        }

        .pv,
        .uv {
            width: 50%;
        }

        .clickCount {
            margin-bottom: 16px;
        }

        .num {
            font-size: 24px;
            font-weight: 500;
        }

        .pv .num {
            color: #58A7F8;
        }

        .uv .num {
            color: #85D8AA;
        }

        .countLine {
            width: 2px;
            height: 60px;
            background: #E9EBEE;
        }
    }

    .linkChartBox {
        min-width: 1084px;
        height: 640px;
        background: #FFF;
        padding: 0 24px;
        position: relative;

        .header {
            height: 64px;
            border-bottom: 1px solid #E9EBEE;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .title {
                font-size: 16px;
            }
        }

        .dataBox {
            position: relative;
        }

        .numBox {
            height: 160px;
            border-bottom: 1px solid #E9EBEE;
            display: flex;
            align-items: center;
        }

        .numBoxItem {
            width: 50%;
            display: flex;
            justify-content: space-evenly;
        }

        .numBoxLine {
            width: 2px;
            height: 60px;
            background: #E9EBEE;
        }

        .numName {
            line-height: 34px;
            margin-bottom: 8px;
        }

        .num {
            font-size: 24px;
            font-weight: 500;
        }

        #chartBox {
            padding: 26px 0 50px;
            height: 414px;
        }

    }
    .emptyBox{
        min-width: 1084px;
        height: 1008px;
        border-radius: 4px;
        background: #FFF;
        text-align: center;
        color: #B5BDC6;
        padding-top: 215px;
        .icon-empty{
            width: 120px;
            height: 120px;
            margin-bottom: 6px;
        }
    }
}