.SuccessPut {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #FFFFFF;
  z-index: 99; }
  .SuccessPut .SaveSuccess-content {
    width: 266px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translate(-50%, -50%); }
    .SuccessPut .SaveSuccess-content .SaveSuccess-content-img {
      width: 258px;
      height: 258px;
      margin-bottom: 8px; }
    .SuccessPut .SaveSuccess-content .SaveSuccess-content-text {
      font-size: 14px;
      color: #485767;
      font-weight: 400;
      margin-bottom: 8px; }
    .SuccessPut .SaveSuccess-content .SaveSuccess-content-txt {
      color: #c2c8cf;
      font-size: 14px; }
      .SuccessPut .SaveSuccess-content .SaveSuccess-content-txt .SaveSuccess-content-txt-blue {
        color: #288BF2; }
    .SuccessPut .SaveSuccess-content .SaveSuccess-content-btn {
      display: flex;
      align-items: center;
      margin-top: 30px; }
