.gt-container .qrcodeModal .modal-box .qrcode-title {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 16px; }

.gt-container .gt-list-container .operateArea, .gt-container .gt-list-container .operateArea .more .operate, .gt-container .groupList .groupItem {
  font-family: "PingFang SC";
  font-weight: 400;
  font-size: 14px; }

.gt-container .gt-list-container .operateArea .checkAll .icon-checkall, .gt-container .groupList .groupItem .icon-add::after, .gt-container .qrcodeModal .modal-box .close-btn {
  background: url(/images/icon/icon-gi.png) no-repeat;
  background-size: 635px 420px; }

.gt-container .groupList .groupItem .icon-add, .gt-container .qrcodeModal .modal-box {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.gt-container {
  height: calc(100% - 60px);
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: auto;
  background: #F8F8F9; }
  .gt-container .gt-container-scroll {
    height: 100%; }
  .gt-container .gt-container-footer {
    text-align: center;
    margin-bottom: 60px; }
  .gt-container .pageSize {
    padding-right: 28px; }
  .gt-container .gt-list-container {
    display: flex;
    flex-wrap: wrap;
    min-height: calc(100% - 176px);
    align-content: flex-start;
    padding: 24px;
    min-width: 1140px; }
    .gt-container .gt-list-container .operateArea {
      height: 36px;
      margin-bottom: 24px;
      font-weight: 400; }
      .gt-container .gt-list-container .operateArea .import {
        background: #58A7F8;
        border-radius: 4px;
        width: 108px;
        height: 36px;
        line-height: 36px;
        text-align: center;
        color: #FFFFFF;
        cursor: pointer;
        float: left;
        margin-right: 30px;
        position: relative; }
        .gt-container .gt-list-container .operateArea .import:hover {
          background: #288BF2; }
          .gt-container .gt-list-container .operateArea .import:hover .public-tipBubble {
            transform: scale(1);
            opacity: 1; }
      .gt-container .gt-list-container .operateArea .item {
        float: left;
        color: #5D90C5;
        cursor: pointer;
        line-height: 20px;
        margin-top: 8px; }
        .gt-container .gt-list-container .operateArea .item:hover {
          color: #58A7F8;
          text-decoration: underline; }
          .gt-container .gt-list-container .operateArea .item:hover .inner {
            display: block; }
      .gt-container .gt-list-container .operateArea .batch {
        float: right; }
      .gt-container .gt-list-container .operateArea .more {
        margin-right: 0;
        float: right;
        position: relative;
        z-index: 2;
        line-height: 33px; }
        .gt-container .gt-list-container .operateArea .more .inner {
          position: absolute;
          display: none;
          top: 28px;
          left: -31px;
          width: 95px;
          padding: 4px 0 4px;
          background: #FFFFFF;
          box-shadow: 0 2px 2px 0 #E9EBEE, 0 4px 8px 0 #E9EBEE;
          border-radius: 4px; }
          .gt-container .gt-list-container .operateArea .more .inner:before {
            content: '';
            display: block;
            width: 6px;
            height: 6px;
            box-shadow: 0 2px 2px 0 #E9EBEE, 0 4px 8px 0 #E9EBEE;
            background: #FFFFFF;
            position: absolute;
            top: -3px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg); }
          .gt-container .gt-list-container .operateArea .more .inner:after {
            content: '';
            display: block;
            width: 100%;
            height: 8px;
            background: #FFFFFF;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 4px; }
        .gt-container .gt-list-container .operateArea .more .operate {
          color: #344658;
          padding: 0 10px;
          position: relative;
          z-index: 3; }
          .gt-container .gt-list-container .operateArea .more .operate:Hover {
            background: #ECF6FF; }
      .gt-container .gt-list-container .operateArea .checkAll .icon-checkall {
        display: inline-block;
        width: 20px;
        height: 20px;
        background-position: -139px -19px;
        vertical-align: middle;
        margin-top: -4px;
        margin-right: 8px; }
        .gt-container .gt-list-container .operateArea .checkAll .icon-checkall:hover {
          background-position: -159px -19px; }
        .gt-container .gt-list-container .operateArea .checkAll .icon-checkall.checked {
          background-position: -179px -19px; }
  .gt-container .groupList .groupItem {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #E9EBEE;
    box-shadow: 0 2px 4px 0 #E9EBEE;
    border-radius: 4px;
    width: 340px;
    float: left;
    margin: 0 24px 24px 0; }
    .gt-container .groupList .groupItem .groupItemInner {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
      background: #fff; }
    .gt-container .groupList .groupItem .icon-add {
      color: #B5BDC6;
      font-weight: 400;
      line-height: 20px;
      padding-left: 34px; }
      .gt-container .groupList .groupItem .icon-add::after {
        content: '';
        width: 24px;
        height: 24px;
        display: block;
        background-position: -5px -67px;
        position: absolute;
        left: 0;
        top: -2px; }
    .gt-container .groupList .groupItem:hover .icon-add {
      color: #58A7F8; }
      .gt-container .groupList .groupItem:hover .icon-add::after {
        background-position: -29px -67px; }
    .gt-container .groupList .groupItem:hover .public-tipBubble {
      transform: scale(1);
      opacity: 1; }
  .gt-container .pageFooter {
    display: flex;
    justify-content: center;
    margin-top: 24px; }
  .gt-container .qrcodeModal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 70, 88, 0.4);
    z-index: 99; }
    .gt-container .qrcodeModal .modal-box {
      background: #FFFFFF;
      width: 376px;
      height: 332px;
      border-radius: 4px; }
      .gt-container .qrcodeModal .modal-box .close-btn {
        width: 24px;
        height: 24px;
        position: absolute;
        right: -34px;
        top: 0;
        cursor: pointer;
        background-position: -209px -277px; }
        .gt-container .qrcodeModal .modal-box .close-btn:hover {
          background-position: -209px -301px; }
      .gt-container .qrcodeModal .modal-box .qrcode-title {
        height: 57px;
        line-height: 57px;
        color: #344658;
        padding-left: 22px;
        border-bottom: 1px solid #E9EBEE; }
      .gt-container .qrcodeModal .modal-box .qrcode {
        width: 150px;
        height: 150px;
        margin: 37px auto 14px;
        text-align: center;
        line-height: 150px; }
