@media screen and (min-width: 1782px) {
  .keyListPortal .keyListPortal-header .keyListPortal-header-left {
    width: 776px; }
  .keyListPortal .keyListPortal-header .keyListPortal-header-right {
    width: 776px; }
  .keyListPortal .keyListPortal-list-main .AddKeyCard {
    width: 296px !important; } }

.keyListPortal-main {
  height: calc(100% - 59px);
  background: #F0F1F3;
  overflow: auto;
  position: relative; }
  .keyListPortal-main .guideButton {
    width: 108px;
    height: 36px;
    position: relative;
    margin: 0 24px 24px 0; }
    .keyListPortal-main .guideButton:hover .public-tipBubble {
      transform: scale(1);
      opacity: 1; }
